.footer {
  background-color: var(--main-color);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    gap: 15px;
  }
}
.footer .container .logo img {
  width: 150px;
}
.footer .container div a {
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
  font-size: 1.3rem;
  transition: var(--main-transition);
}
.footer .container div a:hover {
  color: var(--hover-color);
}
